**/.vs
**/.vscode
**/.idea
**/.git
**/.gitignore

**/bin
**/obj
**/log
**/logs

**/Thumbs.db
**/.DS_Store

**/node_modules

**/*.user
**/*.suo
**/*.md

**/docker-compose*.yml
**/Dockerfile*
**/.dockerignore

**/.env
**/secrets.json
